#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}
#title{
    /* background-color: rgba(255,255,255,0.4); */
    border-radius: 10px;
    padding: 4px 6px;
    font-family: nunito;
    font-size: 8vh;
    position: fixed;
    color: white;
    left: 50%;
    top: 1vh;
    transform: translateX(-50%);
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:grid;
    background:silver;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s linear;
}
#planetcard{
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    height: 70vh;
    width: auto;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
#info{
    background-color: rgb(202, 182, 182);
    border-radius: 2rem;
    padding: 1rem;
    display: inline-block;
    width: 20vw;
    margin: 1rem;
    height: 70%;
    text-align: center;
    font-size: x-large;
}
#planetimg{
    object-fit: cover;
    height: 100%;
    display: inline-block;
}

#calc{
    font-size: medium;
    
}
 
#inputid{
    font-size: small;
}